{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Blockchain Protocol Security</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Blockchain Protocol Audit</h1>
                        <p>
                            Our blockchain researchers will make your protocol more secure and resistant to
                            real-world cyberattacks.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="home_section_four">
        <div class="marquee-container">
            <div class="marquee-content">
                <!-- Logo and Heading 1 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq2.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 2 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq1.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 3 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq3.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 4 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq4.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 5 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq5.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 6 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq6.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq7.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq8.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq9.svg' %}" alt="logo" class="marqLogo last_marLogo">
                </div>

            </div>
        </div>
    </div>
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title">
                Secure the entire architecture of your protocol with professional <span>security audit and
                    testing.</span>
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Prevent costly errors</h6>
                    </div>
                    <p style="min-height: auto;">
                        Critical vulnerabilities may put at risk that projects built on your protocol.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Optimize your protocol</h6>
                    </div>
                    <p style="min-height: auto;">
                        Get advice on how to make your protocol more functional.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Increase audience trust</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Audit is the answer to the question “Is this Layer-1 project secure?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 mt-4">
                <h1 class="need_project">Web3 security depends on <span>blockchain security audit</span></h1>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                        <div class="price_card">
                            <h6>$3.8B</h6>
                            <p>
                                stolen from crypto projects in 2022
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                        <div class="price_card">
                            <h6>2x Damage</h6>
                            <p>
                                direct financial losses + token price drop
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                        <div class="price_card">
                            <h6>82%</h6>
                            <p>
                                DeFi Protocols accounted for 82% of all hack losses in 2022
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="home_section_five margin_row">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <h5 class="build_trust_txt">
                    What <span>projects</span> need a blockchain protocol audit?
                </h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Modular Blockchains</h6>
                    </div>
                    <p>
                        Modular blockchains have stand-alone purposes, so other blockchains can tap into them. They
                        can be a settlement layer, consensus layer, or any other blockchain layer. They often have
                        complex architecture due to their robust systems.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>DeFi Bridges</h6>
                    </div>
                    <p>
                        Highly technical DeFi bridges often suffice as protocols. They always have millions of funds
                        in their vaults. Prime target of hackers.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Monolithic Blockchains</h6>
                    </div>
                    <p>
                        Monolithic blockchains stack up the consensus layer, settlement layer, execution layer, and
                        application layer within a single blockchain.Their architecture is always more complex and
                        susceptible to hacks.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section margin_row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 mt-4">
                <h1 class="need_project">When do you need a <span>blockchain security audit?</span></span></h1>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon13.svg' %}" alt="">
                            <p>
                                Before entering the market
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon14.svg' %}" alt="">
                            <p>
                                After implementing major updates
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon15.svg' %}" alt="">
                            <p>
                                If any malicious activities are detected around your protocol
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt">Benefits of BlockChain Protocol auditing by <span>GradeCyber</span></h4>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Time-Efficient Process</h6>
                    </div>
                    <p>
                        Audit duration is agreed upon with the customer during the negotiation phase. We start the
                        audit immediately after a client provides us with all required documentation.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Transparent Pricing</h6>
                    </div>
                    <p>
                        The price of the audit is determined at the stage of negotiations. It is based only on the
                        audit complexity and scope. There are no hidden fees and penalties.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Expertise</h6>
                    </div>
                    <p>
                        Grade is the European vendor that started auditing projects in 2017 and since then we have
                        developed our own audit quality standards and methodology.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Community trust</h6>
                    </div>
                    <p>
                        Grade audits are integrated into CoinGecko, CoinMarketCap, and CER.live. Thus, it serves as
                        an indicator of your reliability for users.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3>How does it <span>work?</span></h3>
                    <p>
                        The total Smart Contract Audit time takes from 5 to 15 business days.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="benifts_section margin_row">
        <h4 class="essential_txt">What will you get after an audit?</h4>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Certification</h6>
                    </div>
                    <p>
                        After the audit, you will be able to integrate the badge “Audited by Grade” into your
                        website.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Promotion</h6>
                    </div>
                    <p>
                        If your project meets Grade partnership requirements, we will offer you an extended
                        service package including marketing activities.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section px-0 py-0 margin_row" style="border: none;">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="it_work_content">
                    <h3>What does smart contract audit <span>report include?</span></h3>
                    <div class="d-flex gap-3">
                        <a href="#" class="public_audits_btn">
                            Audit Example
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" class="public_audits_btn" style="border: none;">
                            View Our Methodology
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="quote_text_div quote_text_div02">
                    <h6>Classification of vulnerabilities depending on their severity</h6>
                    <h6>Step-by-step recommendations on how to fix all issues</h6>
                    <h6>Smart contract scoring according to 4 parameters: documentation quality, code quality,
                        architecture quality, and security.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is a blockchain protocol?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A set of rules governing the creation, validation, and communication of blocks
                                    and transactions within a decentralized digital ledger.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                What is a blockchain protocol audit?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A set of rules governing the creation, validation, and communication of blocks
                                    and transactions within a decentralized digital ledger.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Why would you need it?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A set of rules governing the creation, validation, and communication of blocks
                                    and transactions within a decentralized digital ledger.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}