{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Solutions / Blogs</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="header_title_div blog_header_title_div">
                        <h1>The Grade Blog</h1>
                        <div class="input_group">
                            <input type="text" name="" id="" placeholder="Type your search">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter_group">
                <button class="filterBtn active">All</button>
                <button class="filterBtn">Case studies</button>
                <button class="filterBtn">Discover</button>
                <button class="filterBtn">Grade News</button>
                <button class="filterBtn">Industry News</button>
                <button class="filterBtn">Insights</button>
                <button class="filterBtn">Network</button>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="blockchain_section">
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 mt-sm-5 mt-4">
                <div class="latest_news_card">
                    <div class="blog_img_div">
                        <img src="{% static '/assets/images/blog.svg' %}" alt="" class="newsImg">
                    </div>
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6 style="color: #51D5C1;">Integrations</h6>
                        </div>

                        <h2>
                            Tokenization Of Real-World Assets (RWAs): Explanations & Future Outlook
                        </h2>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-sm-5 mt-4">
                <div class="latest_news_card">
                    <div class="blog_img_div">
                        <img src="{% static '/assets/images/blog2.svg' %}" alt="" class="newsImg">
                    </div>
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6 style="color: #51D5C1;">Integrations</h6>
                        </div>

                        <h2>
                            Ripple Hack Explained: A Deep Dive into the Recent XRP Heist
                        </h2>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-sm-5 mt-4">
                <div class="latest_news_card">
                    <div class="blog_img_div">
                        <img src="{% static '/assets/images/news2.svg' %}" alt="" class="newsImg">
                    </div>
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6 style="color: #51D5C1;">Integrations</h6>
                        </div>

                        <h2>
                            Ripple Hack Explained: A Deep Dive into the Recent XRP Heist
                        </h2>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-sm-5 mt-4">
                <div class="latest_news_card">
                    <div class="blog_img_div">
                        <img src="{% static '/assets/images/news2.svg' %}" alt="" class="newsImg">
                    </div>
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6 style="color: #51D5C1;">Integrations</h6>
                        </div>

                        <h2>
                            Ripple Hack Explained: A Deep Dive into the Recent XRP Heist
                        </h2>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-sm-5 mt-4">
                <div class="latest_news_card">
                    <div class="blog_img_div">
                        <img src="{% static '/assets/images/news2.svg' %}" alt="" class="newsImg">
                    </div>
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6 style="color: #51D5C1;">Integrations</h6>
                        </div>

                        <h2>
                            Ripple Hack Explained: A Deep Dive into the Recent XRP Heist
                        </h2>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-sm-5 mt-4">
                <div class="latest_news_card">
                    <div class="blog_img_div">
                        <img src="{% static '/assets/images/blog2.svg' %}" alt="" class="newsImg">
                    </div>
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6 style="color: #51D5C1;">Integrations</h6>
                        </div>

                        <h2>
                            Ripple Hack Explained: A Deep Dive into the Recent XRP Heist
                        </h2>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 mt-sm-5 mt-4">
                <div class="latest_news_card">
                    <div class="blog_img_div">
                        <img src="{% static '/assets/images/blog.svg' %}" alt="" class="newsImg">
                    </div>
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6 style="color: #51D5C1;">Integrations</h6>
                        </div>

                        <h2>
                            Tokenization Of Real-World Assets (RWAs): Explanations & Future Outlook
                        </h2>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}