{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Company / About</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Partner With Grade</h1>
                        <p>
                            Join our mission to make Web3 a safer place, and let's work together to enhance
                            blockchain security and trust.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>B</span>
                                    <span>e</span>
                                    <span>c</span>
                                    <span>o</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>P</span>
                                    <span>a</span>
                                    <span>r</span>
                                    <span>t</span>
                                    <span>n</span>
                                    <span>e</span>
                                    <span>r</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="essential_div margin_row">
        <h4 class="essential_txt" style="max-width: 876px;">
            Our partners range from developers to blockchain protocols and VCs.
        </h4>
        <div class="row mt-sm-5 mt-5">
            <div class="col-lg-4">
                <div class="vcs_content">
                    <h1>Ecosystem</h1>
                    <p>
                        Secure your ecosystem with regular checks; nurture strong participants, enhance market
                        position, and reduce risks.
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs1.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs2.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs3.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs4.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs5.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs6.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs7.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs8.svg' %}" alt="" class="vcsImg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin_row">
            <div class="col-lg-4">
                <div class="vcs_content">
                    <h1>Market Maker</h1>
                    <p>
                        Boost coin resilience for clients, safeguarding against unexpected
                        treasury attacks and market volatility
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs3.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs4.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs5.svg' %}" alt="" class="vcsImg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin_row">
            <div class="col-lg-4">
                <div class="vcs_content">
                    <h1>Venture Capital</h1>
                    <p>
                        Boost coin resilience for clients, safeguarding against unexpected treasury attacks and
                        market volatility
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs3.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs4.svg' %}" alt="" class="vcsImg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin_row">
            <div class="col-lg-4">
                <div class="vcs_content">
                    <h1>Launchpad</h1>
                    <p>
                        Secure your launchpad’s success, minimize day-of-launch risks, and generate positive
                        community relations and engagement.
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs4.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs5.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs8.svg' %}" alt="" class="vcsImg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin_row">
            <div class="col-lg-4">
                <div class="vcs_content">
                    <h1>Centralized Exchange</h1>
                    <p>
                        Verify the reliability, efficiency, and hack resilience of listed tokens, easing operational
                        strain on your listing team
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs1.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs2.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs3.svg' %}" alt="" class="vcsImg">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt-4">
                        <img src="{% static '/assets/images/vcs4.svg' %}" alt="" class="vcsImg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="blockchain_section margin_row">
        <div class="table_header_div blogDiv blockchain_text_section">
            <h2 class="blockchain_text" style="max-width: 580px;">
                All partners and partner-introduced projects get:
            </h2>
            <a href="#" class="public_audits_btn">
                Apply for Partnership
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-4 mt-4">
            <div class="col-sm-6">
                <div class="introduced">
                    <ul>
                        <li>
                            High-Quality Technical Due Diligence
                        </li>
                        <li>
                            Recognized Certification
                        </li>
                        <li>
                            Priority Queue
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="introduced">
                    <ul>
                        <li>
                            Comprehensive Code Review and Analysis
                        </li>
                        <li>
                            Marketing Support
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blockchain_section margin_row">
        <div class="row mt-sm-4 mt-4">
            <div class="col-md-6 mt-4">
                <div class="apply_card">
                    <h4>Become Grade <br> Partner</h4>
                    <a href="#" class="public_audits_btn">
                        Apply for Partnership
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="apply_card">
                    <h4>Let's team up for a safer Web3 future</h4>
                    <a href="#" class="public_audits_btn">
                        Apply for Partnership
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="blockchain_section margin_row">
        <div class="table_header_div blogDiv">
            <h2 class="blockchain_text" style="max-width: 680px;">
                Latest news
            </h2>
            <a href="#" class="public_audits_btn">
                More news
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
                <div class="latest_news_card">
                    <img src="{% static '/assets/images/news1.svg' %}" alt="" class="newsImg">
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6>Design to code</h6>
                            <p>3 min read</p>
                        </div>

                        <h5>
                            Locofy.ai – Turn Figma to Code!
                        </h5>
                        <p class="newsDesc">
                            Go from Figma to code in minimum amount of time using Locofy. Take your..
                        </p>

                        <div class="postedProfile">
                            <img src="{% static '/assets/images/Avatar.png' %}" alt="">
                            <div>
                                <h6>Anna Rosé</h6>
                                <p>Posted just now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
                <div class="latest_news_card">
                    <img src="{% static '/assets/images/news2.svg' %}" alt="" class="newsImg">
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6>Design to code</h6>
                            <p>2 min read</p>
                        </div>

                        <h5>
                            Figma for Developers
                        </h5>
                        <p class="newsDesc">
                            Developers often believe they will be off to a flying start if they skip the designing
                            process and jump directly to code.
                        </p>

                        <div class="postedProfile">
                            <img src="{% static '/assets/images/Avatar2.png' %}" alt="">
                            <div>
                                <h6>Justin Chen</h6>
                                <p>Posted on Sep 6, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
                <div class="latest_news_card">
                    <img src="{% static '/assets/images/news3.svg' %}" alt="" class="newsImg">
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6>Integrations</h6>
                            <p>2 min read</p>
                        </div>

                        <h5>
                            Best UI library to use in Figma
                        </h5>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>

                        <div class="postedProfile">
                            <img src="{% static '/assets/images/Avatar3.png' %}" alt="">
                            <div>
                                <h6>Isaac Tan</h6>
                                <p>Posted on Sep 5, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}