{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Company / About</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <a href="#" class="our_missionBtn">OUR MISSION</a>
                        <h1>We Make Web3 A Safer Place</h1>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="essential_div margin_row">
        <h6 class="our_mission_title">Our vision</h6>
        <h4 class="essential_txt">
            Doing Your Business Ethically is a New Norm for Web3
        </h4>
        <p class="normText">
            We believe blockchain security is not only about asset protection but a whole new way of doing Web3:
            without scams and hacks, rug pulls, wash trading, and circulation supply manipulations. New Web3 is
            about respecting your community, being honest with your investors and partners, acting responsibly, and
            valuing reputation.
        </p>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-4 mt-4">
                <div class="price_card mission_card">
                    <h6>6+</h6>
                    <p>
                        Years of expertise
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-4 mt-4">
                <div class="price_card mission_card">
                    <h6>1,000+</h6>
                    <p>
                        Clients in total
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-4 mt-4">
                <div class="price_card mission_card">
                    <h6>180+</h6>
                    <p>
                        Partners
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-4 mt-4">
                <div class="price_card mission_card">
                    <h6>1,200+</h6>
                    <p>
                        Years of expertise
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-4 mt-4">
                <div class="price_card mission_card">
                    <h6>50+</h6>
                    <p>
                        Crypto exchanges
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-4 mt-4">
                <div class="price_card mission_card">
                    <h6>100+</h6>
                    <p>
                        Team members
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="benifts_section margin_row">
        <h4 class="essential_txt">
            GRADE Cyber Security Partnership Network
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 7.svg' %}" alt="" class="network_img">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 8.svg' %}" alt="" class="network_img">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 7.svg' %}" alt="" class="network_img">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 8.svg' %}" alt="" class="network_img">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 7.svg' %}" alt="" class="network_img">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 8.svg' %}" alt="" class="network_img">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 7.svg' %}" alt="" class="network_img">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <img src="{% static '/assets/images/image 8.svg' %}" alt="" class="network_img">
            </div>
        </div>
    </div>
    <div class="benifts_section margin_row">
        <h4 class="essential_txt">
            GRADE Cyber Security In Media
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 12.svg' %}" alt="" class="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 13.svg' %}" alt="" class="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 14.svg' %}" alt="" class="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 15.svg' %}" alt="" class="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 16.svg' %}" alt="" class="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 17.svg' %}" alt="" class="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 18.svg' %}" alt="" class="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-3">
                <div class="media_card">
                    <img src="{% static '/assets/images/image 19.svg' %}" alt="" class="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="blockchain_section margin_row">
        <div class="table_header_div blogDiv blockchain_text_section">
            <h2 class="blockchain_text" style="max-width: 680px;">
                Meet our leadership team
            </h2>
            <a href="#" class="public_audits_btn">
                Join our team
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team1.png' %}" alt="" class="teamImg">
                    <h6>Mr. Katrina Wolff</h6>
                    <p>Corporate Integration Officer</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team2.png' %}" alt="" class="teamImg">
                    <h6>Ms. Chelsea MacGyver</h6>
                    <p>Dynamic Creative Analyst</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team3.png' %}" alt="" class="teamImg">
                    <h6>Roy Hand</h6>
                    <p>Forward Accounts Manager</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team4.png' %}" alt="" class="teamImg">
                    <h6>Randal Botsford</h6>
                    <p>Principal Tactics Architect</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team5.png' %}" alt="" class="teamImg">
                    <h6>Mr. Donna Schaden</h6>
                    <p>Legacy Program Associate</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team6.png' %}" alt="" class="teamImg">
                    <h6>Shelley Zulauf</h6>
                    <p>Senior Assurance Designer</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team7.png' %}" alt="" class="teamImg">
                    <h6>Rosemary Deckow</h6>
                    <p>Dynamic Response Manager</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="team_card">
                    <img src="{% static '/assets/images/team8.png' %}" alt="" class="teamImg">
                    <h6>Lloyd Barrows PhD</h6>
                    <p>Lead Applications Analyst</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blockchain_section margin_row">
        <div class="table_header_div blogDiv">
            <h2 class="blockchain_text" style="max-width: 680px;">
                Latest news
            </h2>
            <a href="#" class="public_audits_btn">
                More news
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
                <div class="latest_news_card">
                    <img src="{% static '/assets/images/news1.svg' %}" alt="" class="newsImg">
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6>Design to code</h6>
                            <p>3 min read</p>
                        </div>

                        <h5>
                            Locofy.ai – Turn Figma to Code!
                        </h5>
                        <p class="newsDesc">
                            Go from Figma to code in minimum amount of time using Locofy. Take your..
                        </p>

                        <div class="postedProfile">
                            <img src="{% static '/assets/images/Avatar.png' %}" alt="">
                            <div>
                                <h6>Anna Rosé</h6>
                                <p>Posted just now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
                <div class="latest_news_card">
                    <img src="{% static '/assets/images/news2.svg' %}" alt="" class="newsImg">
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6>Design to code</h6>
                            <p>2 min read</p>
                        </div>

                        <h5>
                            Figma for Developers
                        </h5>
                        <p class="newsDesc">
                            Developers often believe they will be off to a flying start if they skip the designing
                            process and jump directly to code.
                        </p>

                        <div class="postedProfile">
                            <img src="{% static '/assets/images/Avatar2.png' %}" alt="">
                            <div>
                                <h6>Justin Chen</h6>
                                <p>Posted on Sep 6, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
                <div class="latest_news_card">
                    <img src="{% static '/assets/images/news3.svg' %}" alt="" class="newsImg">
                    <div class="news_card_body">
                        <div class="design_code">
                            <h6>Integrations</h6>
                            <p>2 min read</p>
                        </div>

                        <h5>
                            Best UI library to use in Figma
                        </h5>
                        <p class="newsDesc">
                            Find out what UI library suit your product the most. From Material UI, Bootstrap, ...
                        </p>

                        <div class="postedProfile">
                            <img src="{% static '/assets/images/Avatar3.png' %}" alt="">
                            <div>
                                <h6>Isaac Tan</h6>
                                <p>Posted on Sep 5, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}