{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Penetration Testing</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Blockchain Penetration Testing</h1>
                        <p>
                            Our blockchain researchers will make your protocol more secure and resistant to
                            real-world cyberattacks.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="home_section_four">
        <div class="marquee-container">
            <div class="marquee-content">
                <!-- Logo and Heading 1 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq2.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 2 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq1.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 3 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq3.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 4 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq4.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 5 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq5.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 6 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq6.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq7.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq8.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq9.svg' %}" alt="logo" class="marqLogo last_marLogo">
                </div>

            </div>
        </div>
    </div>
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 827px;">
                <span>Web3 penetration testing</span> services for real-world simulation of attacks.
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Full-scale security risk reporting</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Pen testing mitigates overall security risk by finding and fixing runtime vulnerabilities.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Detect multivector vulnerabilities</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Penetration testing identifies weaknesses, including complex, multivector vulnerabilities.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Actionable findings for dev teams</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Empower developers to find and fix issues before bad actors can exploit them.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <h4 class="essential_txt">Blockchain penetration testing is <span>essential for security</span></h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>$4.35M</h6>
                    <p>
                        Data breach average cost in 2022, up from $3.86 million in 2020
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>52%</h6>
                    <p>
                        Breaches are the result of attackers exploiting combinations of errors or vulnerabilities
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>$9.44M</h6>
                    <p>
                        Average cost of a breach in the United States, the highest of any country
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="home_section_five margin_row">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <h5 class="build_trust_txt">
                    What projects need <span>pen testing?</span>
                </h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Centralized & Decentralized Exchange</h6>
                    </div>
                    <p style="min-height: 60px;">
                        <strong>Needs Protection:</strong> transaction data, identity data, bank account data,
                        biometric verification, device data.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Cryptocurrency Mining <br> & Wallet</h6>
                    </div>
                    <p style="min-height: 60px;">
                        <strong>Needs Protection:</strong> payment information, private key, personal data.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Play-2-Earn & <br> GameFi</h6>
                    </div>
                    <p style="min-height: 60px;">
                        <strong>Needs Protection:</strong> transaction data, identity data, bank account data,
                        biometric verification, device data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt">Benefits from working with <span>GradeCyber</span></h4>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Efficient process</h6>
                    </div>
                    <p>
                        The duration of penetration testing is agreed upon with the customer and, generally, ranges
                        between 10 and 15 days.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Professional team</h6>
                    </div>
                    <p>
                        Grade is among the most reputable pentesting companies thanks to our team of global talents
                        and effective integration of penetration testing tools.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Expertise in cybersecurity</h6>
                    </div>
                    <p>
                        Grade has worked with all Web3 projects, including exchanges, wallets, bridges, and dApps.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Community trust</h6>
                    </div>
                    <p>
                        Penetration testing positively impacts the security score of your project displayed on
                        CER.live and CoinGecko.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3>How does it <span>work?</span></h3>
                    <p>
                        The total Smart Contract Audit time takes from 5 to 15 business days.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton accordionButtonTop" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                How much does a pen test costs? How much does external penetration testing cost? How
                                much does network penetration testing cost?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Transparent penetration testing pricing. The customer receives a detailed
                                    breakdown of pen testing costs. The pen testing price is determined before the
                                    process starts. There are no hidden fees. The range and complexity of the
                                    client’s systems under test is what determines the web application penetration
                                    testing cost. The average cost of a penetration test depends on the type and
                                    system complexity. When done correctly, it’s worth every penny. We will provide
                                    you with a detailed breakdown of pricing for your project after you request a
                                    quote. You are getting a team of specialists who will work on detecting every
                                    possible way in which your systems can be compromised. In addition to securing
                                    financial assets locked in your project, our team will guide you through the
                                    entire process. If you don’t know where to start or which systems to put under
                                    test first, our security experts will provide recommendations and potential weak
                                    points, guide you through each step, and generally assist in everything to make
                                    pentesting cost-effective for you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Why should a project pass penetration testing?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Transparent penetration testing pricing. The customer receives a detailed
                                    breakdown of pen testing costs. The pen testing price is determined before the
                                    process starts. There are no hidden fees. The range and complexity of the
                                    client’s systems under test is what determines the web application penetration
                                    testing cost. The average cost of a penetration test depends on the type and
                                    system complexity. When done correctly, it’s worth every penny. We will provide
                                    you with a detailed breakdown of pricing for your project after you request a
                                    quote. You are getting a team of specialists who will work on detecting every
                                    possible way in which your systems can be compromised. In addition to securing
                                    financial assets locked in your project, our team will guide you through the
                                    entire process. If you don’t know where to start or which systems to put under
                                    test first, our security experts will provide recommendations and potential weak
                                    points, guide you through each step, and generally assist in everything to make
                                    pentesting cost-effective for you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Do real hackers perform penetration testing?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Transparent penetration testing pricing. The customer receives a detailed
                                    breakdown of pen testing costs. The pen testing price is determined before the
                                    process starts. There are no hidden fees. The range and complexity of the
                                    client’s systems under test is what determines the web application penetration
                                    testing cost. The average cost of a penetration test depends on the type and
                                    system complexity. When done correctly, it’s worth every penny. We will provide
                                    you with a detailed breakdown of pricing for your project after you request a
                                    quote. You are getting a team of specialists who will work on detecting every
                                    possible way in which your systems can be compromised. In addition to securing
                                    financial assets locked in your project, our team will guide you through the
                                    entire process. If you don’t know where to start or which systems to put under
                                    test first, our security experts will provide recommendations and potential weak
                                    points, guide you through each step, and generally assist in everything to make
                                    pentesting cost-effective for you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                Does penetration testing cause serious disruptions to businesses?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Transparent penetration testing pricing. The customer receives a detailed
                                    breakdown of pen testing costs. The pen testing price is determined before the
                                    process starts. There are no hidden fees. The range and complexity of the
                                    client’s systems under test is what determines the web application penetration
                                    testing cost. The average cost of a penetration test depends on the type and
                                    system complexity. When done correctly, it’s worth every penny. We will provide
                                    you with a detailed breakdown of pricing for your project after you request a
                                    quote. You are getting a team of specialists who will work on detecting every
                                    possible way in which your systems can be compromised. In addition to securing
                                    financial assets locked in your project, our team will guide you through the
                                    entire process. If you don’t know where to start or which systems to put under
                                    test first, our security experts will provide recommendations and potential weak
                                    points, guide you through each step, and generally assist in everything to make
                                    pentesting cost-effective for you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                Which systems should be covered by website penetration testing service?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Transparent penetration testing pricing. The customer receives a detailed
                                    breakdown of pen testing costs. The pen testing price is determined before the
                                    process starts. There are no hidden fees. The range and complexity of the
                                    client’s systems under test is what determines the web application penetration
                                    testing cost. The average cost of a penetration test depends on the type and
                                    system complexity. When done correctly, it’s worth every penny. We will provide
                                    you with a detailed breakdown of pricing for your project after you request a
                                    quote. You are getting a team of specialists who will work on detecting every
                                    possible way in which your systems can be compromised. In addition to securing
                                    financial assets locked in your project, our team will guide you through the
                                    entire process. If you don’t know where to start or which systems to put under
                                    test first, our security experts will provide recommendations and potential weak
                                    points, guide you through each step, and generally assist in everything to make
                                    pentesting cost-effective for you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                aria-controls="collapseSix">
                                What is the best penetration testing type for my project?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Transparent penetration testing pricing. The customer receives a detailed
                                    breakdown of pen testing costs. The pen testing price is determined before the
                                    process starts. There are no hidden fees. The range and complexity of the
                                    client’s systems under test is what determines the web application penetration
                                    testing cost. The average cost of a penetration test depends on the type and
                                    system complexity. When done correctly, it’s worth every penny. We will provide
                                    you with a detailed breakdown of pricing for your project after you request a
                                    quote. You are getting a team of specialists who will work on detecting every
                                    possible way in which your systems can be compromised. In addition to securing
                                    financial assets locked in your project, our team will guide you through the
                                    entire process. If you don’t know where to start or which systems to put under
                                    test first, our security experts will provide recommendations and potential weak
                                    points, guide you through each step, and generally assist in everything to make
                                    pentesting cost-effective for you.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}