{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Proof of Reserves Audit</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Proof of Reserves Audit</h1>
                        <p>
                            Proof of Reserves is an independent audit conducted by Grade which aims to ensure that
                            on-chain holding of cryptocurrencies by exchanges matches up with users’ balances.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="home_section_four">
        <div class="marquee-container">
            <div class="marquee-content">
                <!-- Logo and Heading 1 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq2.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 2 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq1.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 3 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq3.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 4 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq4.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 5 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq5.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 6 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq6.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq7.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq8.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq9.svg' %}" alt="logo" class="marqLogo last_marLogo">
                </div>

            </div>
        </div>
    </div>
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 727px;">
                Ensure transparency and trust in your exchange with our Proof of <span>Reserves validation
                    service.</span>
            </h3>
            <a href="#" class="public_audits_btn" style="max-width: 250px;">
                Go to proof of Reserves Validation
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Crowd sourced protection</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Trusted by leading exchanges like Gate.io, Crypto.com, and Bit2Me, our service validates
                        your holdings with a rigorous and transparent audit process, reinforcing confidence among
                        your users and stakeholders.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt"><span>Benefits of Proof</span> of Reserves by GRADE Cybersecurity</h4>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Experience</h6>
                    </div>
                    <p>
                        In cooperation with CER.live we’ve been developing and improving Proof of Reserve
                        methodology since 2019.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Confidentiality</h6>
                    </div>
                    <p>
                        We provide the highest level of general and internal confidentiality of the exchange
                        database
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Security</h6>
                    </div>
                    <p>
                        All data is secured and stored safely by an ISO 27001:2013 certified tier-1 Web3
                        cybersecurity auditor.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Care</h6>
                    </div>
                    <p>
                        You'll work with a dedicated team and customer success manager who will help with
                        implementation to improve data security and compliance in your company.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Promotion</h6>
                    </div>
                    <p>
                        Successful Proof of Reserves audit with Grade increases the Trust Score of your exchange on
                        CER.live & CoinGecko.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Trust</h6>
                    </div>
                    <p>
                        Grade is trusted by leading cryptocurrency exchanges, blockchain organizations and major
                        Web3 projects.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <h4 class="essential_txt"><span>Common threats</span> for cross-chain bridges:</h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Proves the adequacy of on-chain funds to cover customer liabilities.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Shows good faith by implementing self-regulatory measures market turbulence.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Shows good faith by implementing self-regulatory measures market turbulence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3>How does <span>PoR audit work?</span></h3>
                    <p>
                        On average, it takes from 10 to 15 business days to complete the audit.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>5</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>6</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Engagement and scope definition</h6>
                    <h6>Reconciliation of liabilities</h6>
                    <h6>Formation of the Merkle Tree & Verifier</h6>
                    <h6>Prove assets ownership</h6>
                    <h6>Verification of assets</h6>
                    <h6>Reporting</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section px-0 py-0 margin_row" style="border: none;">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="it_work_content" style="max-width: 439px;">
                    <h3>What does <span>Proof of Reserves audit report includes?</span></h3>
                    <div class="d-flex gap-3">
                        <a href="#" class="public_audits_btn">
                            View report example
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" class="public_audits_btn" style="border: none;">
                            View Our Methodology
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="quote_text_div quote_text_div02">
                    <h6>Calculation and streamlined view of all liabilities (Client Liability Report).</h6>
                    <h6>Verifiable evidence of reserve holdings to reassure customers and stakeholders (Total
                        Reserves Balance).</h6>
                    <h6>Calculated reserves ratio for all liabilities in in-scope assets.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Proof of Reserves?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A Proof of Reserves (PoR) is an independent audit conducted by a third party
                                    which seeks to ensure that on-chain assets of Crypto Exchange match to deposits
                                    of its clients. This auditor takes an anonymized snapshot of all balances held
                                    and aggregates them into a hash tree — a privacy-friendly data structure that
                                    encapsulates all client balances. Here is a <a href="#">sample PoR audit
                                        report</a> by Grade.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                What projects need a PoR audit?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A Proof of Reserves (PoR) is an independent audit conducted by a third party
                                    which seeks to ensure that on-chain assets of Crypto Exchange match to deposits
                                    of its clients. This auditor takes an anonymized snapshot of all balances held
                                    and aggregates them into a hash tree — a privacy-friendly data structure that
                                    encapsulates all client balances. Here is a <a href="#">sample PoR audit
                                        report</a> by Grade.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Can I conduct a Proof of Reserves audit myself?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A Proof of Reserves (PoR) is an independent audit conducted by a third party
                                    which seeks to ensure that on-chain assets of Crypto Exchange match to deposits
                                    of its clients. This auditor takes an anonymized snapshot of all balances held
                                    and aggregates them into a hash tree — a privacy-friendly data structure that
                                    encapsulates all client balances. Here is a <a href="#">sample PoR audit
                                        report</a> by Grade.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                ​​How long does a Proof of Reserves audit take?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A Proof of Reserves (PoR) is an independent audit conducted by a third party
                                    which seeks to ensure that on-chain assets of Crypto Exchange match to deposits
                                    of its clients. This auditor takes an anonymized snapshot of all balances held
                                    and aggregates them into a hash tree — a privacy-friendly data structure that
                                    encapsulates all client balances. Here is a <a href="#">sample PoR audit
                                        report</a> by Grade.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                Why should I trust Grade?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    A Proof of Reserves (PoR) is an independent audit conducted by a third party
                                    which seeks to ensure that on-chain assets of Crypto Exchange match to deposits
                                    of its clients. This auditor takes an anonymized snapshot of all balances held
                                    and aggregates them into a hash tree — a privacy-friendly data structure that
                                    encapsulates all client balances. Here is a <a href="#">sample PoR audit
                                        report</a> by Grade.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}