{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Solutions / Linea</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Linea Smart Contract Audit</h1>
                        <p>
                            Grade is thrilled to collaborate with Linea, the innovative Layer 2 ZK-rollup platform
                            developed by Consensys. We're dedicated to ensuring that every project launched on Linea
                            platform meets the highest security and performance standards.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="home_section_four">
        <div class="marquee-container">
            <div class="marquee-content">
                <!-- Logo and Heading 1 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq2.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 2 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq1.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 3 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq3.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 4 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq4.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 5 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq5.svg' %}" alt="logo" class="marqLogo">
                </div>

                <!-- Logo and Heading 6 -->
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq6.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq7.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq8.svg' %}" alt="logo" class="marqLogo">
                </div>
                <div class="logo_and_TxtDiv">
                    <img src="{% static '/assets/images/marq9.svg' %}" alt="logo" class="marqLogo last_marLogo">
                </div>

            </div>
        </div>
    </div>
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 827px;">
                <span>How GRADE Cyber Security x Linea partnership</span> elevates your project:
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Optimized Security</h6>
                    </div>
                    <p style="max-width: 100%;">
                        With Grade's proven excellence in blockchain security since 2017, your Linea-based projects
                        are in the safest hands.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Priority Queue</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Your urgent needs are our top priority. Jump ahead with our priority queue exclusive to
                        Linea ecosystem projects, reducing the waiting time for audits to just 10-15 days.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Cost Efficiency</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Enjoy a 20% discount and ensure robust smart contract security without breaking the bank.
                        Mention your Linea partnership when you fill out our request form to claim your benefits.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Marketing Support</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Boost your project's exposure with Grade's extensive marketing channels, including
                        prominent listings on CoinGecko and CoinMarketCap.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <h4 class="essential_txt">Benefits of smart contract audit by
            <span>GRADE Cyber Security</span>
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        4-step audit methodology ensures unparalleled security.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Consistent, timely, and transparent communication during the entire audit.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Gas optimization audit and suggestions for reducing gas fees.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Actionable recommendation on fixing found vulnerabilities.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Free remediation check included.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Integration with top platforms like CoinGecko and CoinMarketCap.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Free Bug Bounty program for audited contracts.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Exclusive discounts on our on-chain monitoring tool, Grade Extractor.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Special pricing conditions for on-chain monitoring tool – Grade Extractor
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="it_work_section px-0 py-0 margin_row" style="border: none;">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="it_work_content" style="max-width: 539px;">
                    <h3>
                        Streamlined audit process with <span>expert reviews and transparent scoring:</span>
                    </h3>
                    <div class="example_btn_group d-flex gap-3">
                        <a href="#" class="public_audits_btn">
                            View audited Project
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" class="public_audits_btn" style="border: none;">
                            View Our Methodology
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="quote_text_div quote_text_div02">
                    <h6>Two expert auditors conduct in-depth code reviews and security checks at each audit phase.</h6>
                    <h6>We sort vulnerabilities by how serious they are and give you step-by-step fixes for each.</h6>
                    <h6>
                        Our clear 0-10 score reflects the quality of your documentation, code, structure, and security.
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3><span>Smart contract</span> audit roadmap:</h3>
                    <p>
                        On average, it takes from 10 to 20 business days to complete the audit.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Linea Smart Contract Audit?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Linea Smart Contract Audit by Grade enhances the safety and dependability of Web3
                                    and DeFi projects. Tailored for Linea's Layer 2 ZK-rollup platform, it ensures your
                                    projects adhere to the strictest security and performance criteria.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                How long does the audit typically take?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Linea Smart Contract Audit by Grade enhances the safety and dependability of Web3
                                    and DeFi projects. Tailored for Linea's Layer 2 ZK-rollup platform, it ensures your
                                    projects adhere to the strictest security and performance criteria.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                What does Grade's smart contract audit include?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Linea Smart Contract Audit by Grade enhances the safety and dependability of Web3
                                    and DeFi projects. Tailored for Linea's Layer 2 ZK-rollup platform, it ensures your
                                    projects adhere to the strictest security and performance criteria.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                Do you offer any post-audit services?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Linea Smart Contract Audit by Grade enhances the safety and dependability of Web3
                                    and DeFi projects. Tailored for Linea's Layer 2 ZK-rollup platform, it ensures your
                                    projects adhere to the strictest security and performance criteria.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}