{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Solutions / MetaMask</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>MetaMask Snap Audit</h1>
                        <p>
                            Grade MetaMask-approved Snap Audit is tailored for Snaps builders, enhancing the
                            security and efficiency of your apps. This specialized service ensures your Snaps meet
                            the highest standards, providing a safe and seamless experience for Web3 users.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 887px;">
                Reduce security vulnerabilitiesin your <span>Cosmos-based smart contracts.</span>
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Efficient Process</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Our Snap audit process is designed for maximum efficiency without compromising on
                        thoroughness. We provide a clear timeline and regular updates, ensuring your project stays
                        on track.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Professional Team</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Our cybersecurity experts specialize in blockchain and smart contract technology. With a
                        history of over 1500 successful audits, they bring years of experience directly to securing
                        your Snaps.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Transparent Pricing</h6>
                    </div>
                    <p style="max-width: 100%;">
                        We believe in transparent, upfront pricing tailored to the complexity and specific needs of
                        your Snap. Our goal is to provide top-notch service at a clear, competitive rate.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Community trust</h6>
                    </div>
                    <p style="max-width: 100%;">
                        We've built a reputation within the community for our integrity, reliability, and commitment
                        to excellence. When you choose Grade.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <h4 class="essential_txt">Benefits of <span>MetaMask Snap Audit by Grade:</span></h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card metamaskCard01">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Focused analysis of the unique aspects and vulnerabilities of MetaMask Snaps SDK
                        integration, ensuring your Snap functions flawlessly within its ecosystem.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card metamaskCard01">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Verification of your Snap's correctness and adherence to intended functionalities,
                        guaranteeing a reliable and effective user experience.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Comprehensive report detailing findings, recommendations, and steps for improvement.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Implementing measures to prevent Denial of Service and other exploits, thereby enhancing
                        your Snap's operational reliability.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Ensuring proper configuration of permissions to maintain security without overreach,
                        fostering user trust and safety.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Enhancing your Snap's performance for a seamless, efficient user experience, reducing
                        friction, and increasing satisfaction.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card metamaskCard06">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Focused analysis of thSafeguarding against fund-related attacks, including draining and
                        manipulation, to protect your users' assets.e unique aspects and vulnerabilities of MetaMask
                        Snaps SDK integration, ensuring your Snap functions flawlessly within its ecosystem.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card metamaskCard06">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Ongoing support to help you implement changes and maintain the highest security standards.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content" style="max-width: 480px;">
                    <h3>Your <span>MetaMask Snap</span> audit roadmap:</h3>
                    <p>
                        On average, it takes from 10 to 20 business days to complete the audit.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is MetaMask Snap Audit?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    MetaMask Snap Audit by Grade is a specialized service aimed at enhancing the
                                    security and functionality of MetaMask Snaps. This service is dedicated to
                                    ensuring your Snap extensions meet the highest standards of security and
                                    efficiency, offering users a safe, seamless experience in the Web3 environment.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                How long does the Snap audit process typically take?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    MetaMask Snap Audit by Grade is a specialized service aimed at enhancing the
                                    security and functionality of MetaMask Snaps. This service is dedicated to
                                    ensuring your Snap extensions meet the highest standards of security and
                                    efficiency, offering users a safe, seamless experience in the Web3 environment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}