{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Solutions / Cosmos</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Cosmos Smart Contract Audit</h1>
                        <p>
                            Your Cosmos smart contracts have never been more fortified. Utilizing our robust
                            auditing methodology, we commit to preserving the safety, reliability, and high
                            performance of your smart contracts.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 887px;">
                Reduce security vulnerabilitiesin your <span>Cosmos-based smart contracts.</span>
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Avoid costly errors</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Critical security vulnerabilities may affect the existence of your project. Audit your
                        Cosmos smart contract code in the early stages of development to prevent costly errors.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Optimize your code</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Smart Contract Audit can enhance project efficiency by fixing all identified issues.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Increase audience trust</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Cosmos smart contract audit covering the entire project’s scope can boost community trust in
                        your project.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <h4 class="essential_txt" style="max-width: 1220px;">
            Depend on our smart contract auditing service for a <span>solid shield against imminent risks:</span>
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>$3.8B</h6>
                    <p>
                        stolen from crypto projects in 2022
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>82%</h6>
                    <p>
                        DeFi Protocols accounted for 82% of all hack losses in 2022
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>3x Damage</h6>
                    <p>
                        financial loss + token price drop + lost trust
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 960px;">
            <span>What projects need </span> <br>
            Cosmos crypto audit?
        </h4>
        <div class="row sm-mt-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>DeFi & DEX</h6>
                    </div>
                    <p style="max-width: 100%;">
                        The security of crypto is important for the advancement of any project or protocol in DeFi.
                        The best way to secure your Cosmos project is through comprehensive smart contract audits.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>NFT & Gaming</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Non-fungible tokens bring utility to the Cosmos platform. A thorough audit will help protect
                        the NFTs and in-game assets of your users.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Wallets & Bridges</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Hackers often loot bridges and wallets across all chains. Make your project stand out and
                        impenetrable with high-quality audits.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Cosmos Smart Contracts</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Whatever you are building on Cosmos, ensure the safety of your users’ funds and on-chain
                        assets by requesting a crypto audit today!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section margin_row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 mt-4">
                <h1 class="need_project">
                    When does a project need a <span>smart contract audit?</span>
                </h1>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon13.svg' %}" alt="">
                            <p>
                                When preparing for product release
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon14.svg' %}" alt="">
                            <p>
                                After introducing major updates
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon15.svg' %}" alt="">
                            <p>
                                Upon noticing any malicious activities
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon16.svg' %}" alt="">
                            <p>
                                Before important listing
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 820px;">
            Benefits of Cosmos smart contract audit by <span>GRADE Cyber Security</span>
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Time-Efficient Process</h6>
                    </div>
                    <p style="max-width: 100%;">
                        The duration of the audit is determined during the negotiation phase with the customer. We
                        start the audit immediately after a client provides us with all required documentation.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Transparent Pricing</h6>
                    </div>
                    <p style="max-width: 100%;">
                        No unexpected fees or penalties. The audit pricing is estimated and agreed upon at the
                        outset without any changes.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Expertise</h6>
                    </div>
                    <p style="max-width: 100%;">
                        is the European Blockchain Security Auditor with 5 years of experience. We have
                        developed our methodology and audit quality standards.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Community trust</h6>
                    </div>
                    <p style="max-width: 100%;">
                        CER.live, CoinGecko, and CoinMarketCap accept all audits, including the Cosmos Smart
                        Contract Audit.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Human face</h6>
                    </div>
                    <p style="max-width: 100%;">
                        We are real people. Find us on LinkedIn/Twitter or meet in person at major industry events.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Quality</h6>
                    </div>
                    <p style="max-width: 100%;">
                        has one of the lowest incident rates among the leading Web3 security companies.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3>How does it <span>work?</span></h3>
                    <p>
                        The complete Smart Contract Audit typically ranges between 5 and 15 business days.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 820px;">
            <span>What will you get</span> after an audit?
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Certification</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Following the audit, you can integrate the "Audited by " badge into your website.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Promotion</h6>
                    </div>
                    <p style="max-width: 100%;">
                        If your project fulfills 's partnership standards, we'll present a comprehensive
                        service package encompassing marketing initiatives.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section px-0 py-0 margin_row" style="border: none;">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="it_work_content" style="max-width: 439px;">
                    <h3>
                        <span>Our Cosmos smart contract</span> audit report includes:
                    </h3>
                    <div class="example_btn_group d-flex gap-3">
                        <a href="#" class="public_audits_btn">
                            View report example
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" class="public_audits_btn" style="border: none;">
                            View Our Methodology
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="quote_text_div quote_text_div02">
                    <h6>Classification of potential risks based on their intensity.</h6>
                    <h6>Step-by-step guidance on how to address all issues.</h6>
                    <h6>
                        Final score based on the quality of documentation, code, architecture, and security.
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What are smart contracts?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts make up the foundation of crypto trading and decentralized finance.
                                    These are digital contracts that automatically execute transactions once
                                    predetermined conditions are met. Smart contracts are executed when certain
                                    pre-programmed conditions are met.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Why do web3 projects rely on smart contracts?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts make up the foundation of crypto trading and decentralized finance.
                                    These are digital contracts that automatically execute transactions once
                                    predetermined conditions are met. Smart contracts are executed when certain
                                    pre-programmed conditions are met.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                What are the specifics of the Cosmos chain.
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts make up the foundation of crypto trading and decentralized finance.
                                    These are digital contracts that automatically execute transactions once
                                    predetermined conditions are met. Smart contracts are executed when certain
                                    pre-programmed conditions are met.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                How do auditors account for the specifics of Cosmos?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts make up the foundation of crypto trading and decentralized finance.
                                    These are digital contracts that automatically execute transactions once
                                    predetermined conditions are met. Smart contracts are executed when certain
                                    pre-programmed conditions are met.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                Why should I trust ?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts make up the foundation of crypto trading and decentralized finance.
                                    These are digital contracts that automatically execute transactions once
                                    predetermined conditions are met. Smart contracts are executed when certain
                                    pre-programmed conditions are met.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}