{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Solutions / Ethereum Smart Contract Audit</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Ethereum Smart Contract Audit</h1>
                        <p>
                            Boost stakeholder confidence and enhance the performance of your Ethereum smart
                            contracts with our proven auditing methodology for EVM compatible chains.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 827px;">
                Eliminate vulnerabilities from your Ethereum-based smart contract, ensuring <span>optimal
                    performance and
                    robust security.</span>
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Prevent costly exploits</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Smart contract vulnerabilities can threaten the survival of your project. The largest hacks
                        often resulting from code security flaws.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Optimize your code</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Receive advice on how to make your project run more smoothly. Apart from security flaws, our
                        EVM contract auditors detect bugs affecting product logic.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Increase audience trust</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Ethereum audit is your answer to the question, “Is this project a secure choice?” The rate
                        of incidents among the projects audited by Grade is less than 1%.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 mt-4">
                <h1 class="need_project"><span>Value of Ethereum</span> smart contract audit for Web3</h1>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                        <div class="price_card">
                            <h6>$6B</h6>
                            <p>
                                total value lost to hacks, $3.8B in 2022
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                        <div class="price_card">
                            <h6>82%</h6>
                            <p>
                                DeFi Protocols accounted for 82% of all hack losses in 2022
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                        <div class="price_card">
                            <h6>3x Damage</h6>
                            <p>
                                financial loss + token price drop + lost trust
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt">Who needs <span>Ethereum smart contract audit?</span></h4>
        <div class="row sm-mt-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>DeFi & DEX</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Several DEXes and DeFi projects on Ethereum have been victims of terrible hacks. Stay
                        protected with thorough Ethereum crypto audits.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>NFT & Gaming</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        No matter the developers’ level of expertise, NFT contracts often have vulnerabilities.
                        Complement development efforts with brilliant audits to checkmate bad actors.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Wallets & Bridges</h6>
                    </div>
                    <p style="min-height: auto; max-width: 100%;">
                        Asset storage solutions and bridges host a large share of funds on Ethereum. Discover and
                        fix vulnerabilities on time to maintain your security.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Every Ethereum Crypto Project</h6>
                    </div>
                    <p style="min-height: auto;">
                        Every project on Ethereum should review logic, test attack vectors, and fix vulnerabilities
                        with thorough smart contract audits.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section margin_row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 mt-4">
                <h1 class="need_project">When do you need an <span>Ethereum smart contract audit?</span></h1>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon13.svg' %}" alt="">
                            <p>
                                Before deploying to Ethereum mainnet
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon14.svg' %}" alt="">
                            <p>
                                Following major updates
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon15.svg' %}" alt="">
                            <p>
                                Upon detection of any malicious activities around your project
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon16.svg' %}" alt="">
                            <p style="height: auto; min-height: 39px;">
                                Before crucial listing
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 820px;">
            Benefits of Ethereum smart contract audit by <span>Grade</span>
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Time-Efficient Process</h6>
                    </div>
                    <p style="max-width: 100%;">
                        The duration of an Ethereum audit is agreed upon with the customer during the negotiation
                        phase. We start the audit promptly upon receipt of all required documentation.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Transparent Pricing</h6>
                    </div>
                    <p style="max-width: 100%;">
                        During the negotiation stage, the cost of the Ethereum smart contract audit is determined
                        exclusively based on the audit's scope and complexity, with no unknown fees or penalties
                        included.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Expertise</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Since 2017, Grade, a European blockchain auditor, has been conducting project audits and
                        has subsequently developed our audit quality standards and methodology.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Community trust</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Grade audits are integrated into CoinGecko, CoinMarketCap, and CER.live. Thereby, it
                        provides users with an indication of your trustworthiness.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Human face</h6>
                    </div>
                    <p style="max-width: 100%;">
                        All of us are actual individuals. You can find our team members on LinkedIn/Twitter and meet
                        us in person during industry events.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Quality</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Grade offers the highest metrics for EVM smart contract security with less than 1% incident
                        rate and 0% scam rate among the audited projects.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3>How does it <span>work?</span></h3>
                    <p>
                        The total Smart Contract Audit time takes from 5 to 15 business days.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 820px;">
            <span>What will you get</span> after an Ethereum smart contract audit?
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Certification</h6>
                    </div>
                    <p style="max-width: 100%;">
                        After the audit, you will be able to integrate the badge “Audited by Grade” into your
                        website
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Promotion</h6>
                    </div>
                    <p style="max-width: 100%;">
                        If your project meets Grade partnership requirements, we will offer you an extended
                        service package including marketing activities.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section px-0 py-0 margin_row" style="border: none;">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="it_work_content" style="max-width: 439px;">
                    <h3>
                        What can you expect from our <span>Ethereum smart contract audit report?</span>
                    </h3>
                    <div class="d-flex gap-3">
                        <a href="#" class="public_audits_btn">
                            View report example
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" class="public_audits_btn" style="border: none;">
                            View Our Methodology
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="quote_text_div quote_text_div02">
                    <h6>An assessment of potential vulnerabilities based on their criticality.</h6>
                    <h6>A comprehensive roadmap suggesting solutions for each discovered issue.</h6>
                    <h6>A score for your smart contract focusing on four vital aspects: documentation integrity,
                        coding standards, architectural robustness, and security compliance.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What are smart contracts and why do web3 projects rely on smart contracts?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                What is an ERC-20 (Ethereum) smart contract audit?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                What token standards are supported by ERC-20 audit?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                What are ETH smart contract security risks?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                Can I conduct a smart contract audit myself?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                aria-controls="collapseSix">
                                What benefits does a company get by passing an Ethereum contract audit?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                aria-controls="collapseSeven">
                                Where can I find examples of Ethereum smart contract audit reports?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                Can I trust Grade?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Smart contracts are digital contracts that automatically execute financial
                                    transactions once specific terms and conditions are met. They make up the
                                    foundation of crypto trading and decentralized finance. Smart contracts ensure
                                    safety, accuracy, and high speed of interaction. When predetermined conditions
                                    are met, the actions are executed automatically. Smart contracts ensure trust
                                    and transparency between the parties involved. When coded without errors and
                                    weaknesses, smart contracts can ensure the ultimate security of transactions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}