{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Solutions / Solana</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Solana Smart Contract Audit</h1>
                        <p>
                            Amplify partner trust and strengthen your Solana smart contracts' efficiency with our
                            time-tested auditing methodology.
                        </p>
                        <a href="#" class="joinBtnHref">
                            <button class="joinBtn">
                                <div>
                                    <span>J</span>
                                    <span>o</span>
                                    <span>i</span>
                                    <span>n</span>
                                    <span class="space"> </span>
                                    <span>t</span>
                                    <span>h</span>
                                    <span>e</span>
                                    <span class="space"> </span>
                                    <span>M</span>
                                    <span>o</span>
                                    <span>v</span>
                                    <span>e</span>
                                    <span>m</span>
                                    <span>e</span>
                                    <span>n</span>
                                    <span>t</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 747px;">
                Reduce security threatsin your <span>Fantom-based smart contracts.</span>
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Prevent critical errors</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Critical security vulnerabilities may put your project’s existence at risk. Our Solana smart
                        contract auditing services will help you reduce risks.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Optimize your code</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Get advice on how to make your project run more smoothly. Solana smart contract audit finds
                        defects impacting product logic in addition to security concerns.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Increase audience trust</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Solana smart contract security audit is your answer to the question, “Is this project a
                        secure choice?” The incident rate among the Grade-audited projects is <1%. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <h4 class="essential_txt" style="max-width: 1220px;">
            Regular smart contract audits serve as a reliable <span>protection mechanism against potential
                risks:</span>
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>$3.8B</h6>
                    <p>
                        stolen from crypto projects in 2022
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>>50%</h6>
                    <p>
                        of stolen value due to code exploits and flash loan attacks
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mt-3">
                <div class="price_card">
                    <h6>3x Damage</h6>
                    <p>
                        financial loss + token price drop + lost trust
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 960px;">
            Who needs <br>
            <span>Solana security audit?</span>
        </h4>
        <div class="row sm-mt-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>DeFi & DEX</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Solana blockchain is full of thriving DeFi protocols and projects. Keep blackhats away by
                        discovering and fixing every bug in your project through a smart contract audit.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>NFT & Gaming</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Protect your NFT and gaming Solana project by reaching out to our experienced Solana smart
                        contract auditors.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Wallets & Bridges</h6>
                    </div>
                    <p style="max-width: 100%;">
                        There is a constant need for storage, movement, and conversion of assets on Solana. But this
                        can be a point of failure if there are critical bugs in any Solana wallet or bridge.
                        Therefore, any project building wallets and bridges on Solana should be well-audited.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Solana-based Project</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Web3 is beyond DeFi, NFT, and bridges. But whatever project or protocol you are building,
                        let security be the first thing on your mind.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section margin_row">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 mt-4">
                <h1 class="need_project">
                    When is the best time to audit your <span>Solana smart contracts?</span>
                </h1>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon13.svg' %}" alt="">
                            <p>
                                When preparing for product release
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon14.svg' %}" alt="">
                            <p>
                                After introducing major updates
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon15.svg' %}" alt="">
                            <p>
                                Upon noticing any malicious activities
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                        <div class="needCard">
                            <img src="{% static '/assets/images/icon16.svg' %}" alt="">
                            <p>
                                Before important listing
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 820px;">
            Benefits of Solana smart contract audit by <span>GRADE Cyber Security</span>
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Time-Efficient Process</h6>
                    </div>
                    <p style="max-width: 100%;">
                        The duration of the Solana smart contract audit is discussed and agreed upon with the
                        customer during the negotiation phase. Once our engineers get all necessary documentation
                        from you, the audit process will start.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Transparent Pricing</h6>
                    </div>
                    <p style="max-width: 100%;">
                        The Solana smart contract audit cost is determined at the stage of negotiations. It is based
                        only on its complexity and scope. There are no hidden fees or penalties involved.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Expertise</h6>
                    </div>
                    <p style="max-width: 100%;">
                        We are a European blockchain security auditor with 5+ years of expertise. We have developed
                        audit high-quality standards to be followed by our engineers.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Community trust</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Grade audits are integrated with CoinGecko, CoinMarketCap, and CER.live, making them a
                        reliable indicator of your trustworthiness to users.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Human face</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Our team members are individuals. We are located on LinkedIn/Facebook and you can meet us
                        during industry events.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Dedicated Solidity Team</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Grade has a <1% incident rate among the audited projects and 0% of scam ventures. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3>How does it <span>work?</span></h3>
                    <p>
                        The total Smart Contract Audit time takes from 5 to 15 business days.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="benifts_section margin_row">
        <h4 class="essential_txt" style="max-width: 820px;">
            <span>What will you get</span> <br>
            after our smart contract audit?
        </h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Certification</h6>
                    </div>
                    <p style="max-width: 100%;">
                        After the audit, you will be able to integrate the badge “Audited by Grade” into your
                        website.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Promotion</h6>
                    </div>
                    <p style="max-width: 100%;">
                        If you meet our partnership requirements, we will prepare social media posts about your
                        project and the audit process.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section px-0 py-0 margin_row" style="border: none;">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="it_work_content" style="max-width: 439px;">
                    <h3>
                        What does a Solana smart <span>contract audit report include?</span>
                    </h3>
                    <div class="example_btn_group d-flex gap-3">
                        <a href="#" class="public_audits_btn">
                            View report example
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" class="public_audits_btn" style="border: none;">
                            View Our Methodology
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="quote_text_div quote_text_div02">
                    <h6>Classification of vulnerabilities depending on their severity.</h6>
                    <h6>Step-by-step recommendations on how to fix all issues.</h6>
                    <h6>
                        Smart contract scoring according to 4 parameters: documentation quality, code quality,
                        architecture quality, and security.
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What benefits does a company get by passing Solana smart contract audit?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Will I get recommendations on how to address detected issues after an audit?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Are Solana projects at risk?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                What is the Solana smart contract audit price?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                Will Solana smart contract audit by Grade improve my reputation in the industry?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                aria-controls="collapseSix">
                                What will I see in the Solana smart contract audit report?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                aria-controls="collapseSeven">
                                Do you make all reports public?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                Does Grade audit focus only on the security part?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Solana contract audit allows a company to detect and then eliminate
                                    vulnerabilities in a smart contract by exploiting which attackers can cause
                                    serious damage to this company and its clients. The passed audit will also serve
                                    as a confirmation of the company’s reliability for potential partners and
                                    investors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}