{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>GradeCyber | Solutions / Radix</title>
{% endblock title %}

{% block content %}

<!-- Header Section Start -->
<div class="header_section">
    <!-- navbar -->
    {% include 'includes/header.html' %}
    <!-- Home Section One -->
    <div class="home_section_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header_title_div">
                        <h1>Radix Smart Contract Audit</h1>
                        <p>
                            Unlock a new level of security and confidence in the Web3 and DeFi space with our
                            strategic partnership with Radix. We offer real benefits, ensuring your Scrypto-based
                            projects are secure, reliable, and meet all standards.
                        </p>
                        <a href="#" class="joinBtn">
                            Join the Movement
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="earthImgSection">
                        <img src="{% static '/assets/images/clip.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="shadowDiv"></div>
    </div>
</div>
<div class="container">
    <div class="protocol_audit_section margin_row">
        <div class="professional_request_div">
            <h3 class="request_title" style="max-width: 827px;">
                How <span>Grade x Radix</span> partnership benefits your project:
            </h3>
            <a href="#" class="public_audits_btn">
                Request a quote
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Enhanced Security</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Leverage Grade's proven track record in blockchain security to protect your Scrypto-based
                        projects.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Transparent Pricing</h6>
                    </div>
                    <p style="max-width: 100%;">
                        The price of the audit is determined at the stage of negotiations. It is based only on the
                        audit complexity and scope. There are no hidden fees and penalties.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Cost Efficiency</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Enjoy up to 20% off on our diverse cybersecurity services, including smart contract audits,
                        pentests, tokenomics design, and more.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                <div class="contract_card testing_card">
                    <div class="contract_card_logo">
                        <img src="{% static '/assets/images/icon4.svg' %}" alt="">
                        <h6>Community trust</h6>
                    </div>
                    <p style="max-width: 100%;">
                        Grade audits are integrated into CoinGecko, CoinMarketCap, and CER.live. Thus, it serves as
                        an indicator of your reliability for users.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="smart_contract_section py-0 margin_row" style="background: none;">
    <div class="container">
        <h4 class="essential_txt">Benefits of <span>smart contract audit by Grade:</span></h4>
        <div class="row mt-sm-5 mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        4-stage audit methodology to guarantee the highest security
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Clear, timely, and transparent communication throughout the audit
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Gas fee review and recommendations on optimizing
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Recommendation on fixing detected vulnerabilities
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Free remediation check included
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        CoinGecko and CoinMarketCap integrations
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Audit report accepted by the leading
                        CEXs
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Free Bug Bounty program for audited smart contracts
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="wallet_app_card" style="min-height: 135px;">
                    <img src="{% static '/assets/images/icon.svg' %}" alt="">
                    <p>
                        Special pricing conditions for on-chain monitoring tool – Grade Extractor
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="it_work_section px-0 py-0 margin_row" style="border: none;">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="it_work_content" style="max-width: 539px;">
                    <h3>
                        <span>Expert audit process</span> with thorough reviews and clear scoring:
                    </h3>
                    <div class="example_btn_group d-flex gap-3">
                        <a href="#" class="public_audits_btn">
                            View report example
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <a href="#" class="public_audits_btn" style="border: none;">
                            View Our Methodology
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="quote_text_div quote_text_div02">
                    <h6>Two auditors, with expert inspection, ensure thorough code reviews and security checks at every
                        audit step.</h6>
                    <h6>Vulnerabilities are categorized by severity, with step-by-step recommendations for each
                        identified issue.</h6>
                    <h6>
                        Transparent 0-10 scoring based on documentation, code, architecture quality, and security.
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="it_work_section margin_row">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="it_work_content">
                    <h3><span>Smart contract</span> audit roadmap:</h3>
                    <p>
                        On average, it takes from 10 to 20 business days to complete the audit.
                    </p>
                    <a href="#" class="public_audits_btn">
                        Request a quote
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 get_quote_col">
                <div class="count_div">
                    <div class="count_nmb">
                        <li>1</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>2</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>3</li>
                    </div>
                    <div class="line_div"></div>
                    <div class="count_nmb">
                        <li>4</li>
                    </div>
                </div>
                <div class="quote_text_div">
                    <h6>Get a quote</h6>
                    <h6>Audit report</h6>
                    <h6>Remediation check</h6>
                    <h6>Certification and promotion</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_section margin_row">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <h1 class="faq_text">FAQ</h1>
            </div>
            <div class="col-lg-10 col-md-12 mt-lg-0 mt-sm-4 mt-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Radix Smart Contract Audit?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Radix Smart Contract Audit by Grade is a service that improves the security and
                                    reliability of Web3 and DeFi projects. It focuses on Scrypto-based projects,
                                    ensuring they meet the highest standards of security and performance.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                How long does the audit process typically take?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Radix Smart Contract Audit by Grade is a service that improves the security and
                                    reliability of Web3 and DeFi projects. It focuses on Scrypto-based projects,
                                    ensuring they meet the highest standards of security and performance.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                What is included in the smart contract audit by Grade?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Radix Smart Contract Audit by Grade is a service that improves the security and
                                    reliability of Web3 and DeFi projects. It focuses on Scrypto-based projects,
                                    ensuring they meet the highest standards of security and performance.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button accordionButton collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                Do you offer any post-audit services?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Radix Smart Contract Audit by Grade is a service that improves the security and
                                    reliability of Web3 and DeFi projects. It focuses on Scrypto-based projects,
                                    ensuring they meet the highest standards of security and performance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}